@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  color: #0c0d0c;
  background-color: #f1ea36;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.wrapper {
  width: 800px;
  display: inline-block;
}

.header {
  margin-top: 50px;
}

.controls {
  display: inline-flex;
}

.control {
  align-content: center;
  text-align: center;
  margin: 20px;
}

.timerControls {
  padding: 0 0;
}

.clickable {
  cursor: pointer;
  pointer-events: auto;
}

li {
  display: inline;
  text-align: center;
  padding: 0 5px;
}


.clock {
  /*position: relative;*/
  margin-left: 244px;
  height: 300px;
  width: 300px;
  border: 3px solid #0c0d0c;
  border-radius: 50%;
}

.green-pattern {
  background: repeating-radial-gradient(
    circle,
    #36f138,
    #36f138 10px,
    #2dc32e 10px,
    #2dc32e 20px);
}

.red-pattern {
  background: repeating-radial-gradient(
    circle,
    #f13c36,
    #f13c36 10px,
    #c33f2d 10px,
    #c33f2d 20px);
}

.clockTimeDisplay {
  font-size: 4em;
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*height: 30%;*/
  /*width: 50%;*/
  margin: 35% 0;
  text-align: center;
}
