@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  color: #0c0d0c;
  background-color: #f1ea36;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.wrapper {
  width: 800px;
  display: inline-block;
}

.header {
  margin-top: 50px;
}

.controls {
  display: inline-flex;
  /*width: 100%;*/
}

.control {
  align-content: center;
  text-align: center;
  font-size: 1.4em;
  margin: 20px;
}

.timer-controls {
  padding: 0 0;
}


.timer-controls-setter {
  border: 1px solid;
  width: 35px;
  height: 35px;
  font-size: 1em;
  /*font-weight: bold;*/
  border-radius: 90%;
  background-color: #f13c36;
}

.timer-controls-display {

}

.clickable {
  cursor: pointer;
  pointer-events: auto;
}

li {
  display: inline;
  text-align: center;
  /*padding: 0 5px;*/
}


.clock {
  /*position: relative;*/
  margin-left: 30%;
  height: 300px;
  width: 300px;
  border: 3px solid #0c0d0c;
  border-radius: 50%;
}

.pulse-timing {
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.green-pattern {
  background: repeating-radial-gradient(
    circle,
    #36f138,
    #36f138 10px,
    #2dc32e 10px,
    #2dc32e 20px);
}

.green-screen {
  background-color: #36f138;
}

.red-pattern {
  background: repeating-radial-gradient(
    circle,
    #f13c36,
    #f13c36 10px,
    #c33f2d 10px,
    #c33f2d 20px);
}

.blue-pattern {
  background: repeating-radial-gradient(
    circle,
    #366bf1,
    #366bf1 10px,
    #2d49c3 10px,
    #2d49c3 20px);
}

.clockTimeDisplay {
  font-size: 4em;
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*height: 30%;*/
  /*width: 50%;*/
  margin: 35% 0;
  text-align: center;

}
