@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  color: #0c0d0c;
  background-color: #f1ea36;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

button {
  min-width: 40px;
  min-height: 40px;
  padding: 40px;
}

.wrapper {
  width: 100%;
  /*display: inline-block;*/
}

.header {
  /*margin-top: 40px;*/
}

.footer {
  margin-top: 40px;
}

.controls {
    /*align-content: center;*/
    /*text-align: center;*/
    margin: 20px;
    min-width: 35%;
    display: inline-block;
}

.timer-controls {
  padding: 0 0;
}

.timer-controls-setter {
  border: 0 solid;
  border-color:red;
  /*width: 35px;*/
  /*height: 35px;*/
  font-size: 1em;
  border-radius: 10%;
  background-color: #f13c36;
}

.clickable {
  cursor: pointer;
  pointer-events: auto;
}

li {
  display: inline;
  text-align: center;
  /*padding: 0 5px;*/
}


.clock {
  /*position: relative;*/
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 300px;
  border: 3px solid #0c0d0c;
  border-radius: 50%;
}

.pulse-timing {
  -webkit-animation-duration: 10ms;
  animation-duration: 10ms;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.green-pattern {
  background: repeating-radial-gradient(
    circle,
    #36f138,
    #36f138 10px,
    #2dc32e 10px,
    #2dc32e 20px);
}

.green-screen {
  background-color: #36f138;
}

.red-pattern {
  background: repeating-radial-gradient(
    circle,
    #f13c36,
    #f13c36 10px,
    #c33f2d 10px,
    #c33f2d 20px);
}

.blue-pattern {
  background: repeating-radial-gradient(
    circle,
    #366bf1,
    #366bf1 10px,
    #2d49c3 10px,
    #2d49c3 20px);
}

.clockTimeDisplay {
  font-size: 3em;
  margin: 40% 0;

}
